<p-dialog
  header="Header"
  [(visible)]="visibility"
  closable="false"
  [modal]="true"
  [style]="{ width: '55rem' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <i class="pi pi-wifi mr-2" style="font-size: 2rem"></i>
      <span class="font-bold white-space-nowrap">
        {{ editProp.edit ? "Edit" : "Add" }} Bacnet
      </span>
    </div>
  </ng-template>

  <ng-container *ngIf="formModule == 'host'">
    <form [formGroup]="deviceForm">
      <div class="flex flex-column h-12rem">
        <div class="flex mt-3 justify-content-center">
          <div class="flex align-items-center">
            <div>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="host_name" class="font-semibold w-6rem flex">
                  Host Name <span style="color: red" class="ml-1">*</span>
                </label>
                <input
                  pInputText
                  id="host_name"
                  placeholder="Enter Host Name"
                  class="flex-auto"
                  autocomplete="off"
                  formControlName="host_name"
                />
              </div>
            </div>
          </div>
          <p-divider layout="vertical" class="mr-2" />
          <div>
            <div class="flex align-items-center gap-3 mb-3">
              <label for="host" class="font-semibold w-6rem flex">
                Host <span style="color: red" class="ml-1">*</span>
              </label>
              <input
                pInputText
                id="host"
                placeholder="0.0.0.0"
                class="flex-auto"
                autocomplete="off"
                formControlName="host"
              />
            </div>
            <div class="flex align-items-center gap-3 mb-3">
              <label for="port" class="font-semibold w-6rem flex"> Port </label>
              <p-inputNumber
                mode="decimal"
                id="port"
                class="flex-auto"
                placeholder="1111"
                inputId="withoutgrouping"
                [useGrouping]="false"
                formControlName="port"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="flex pt-4 justify-content-between">
      <p-button
        label="Cancel"
        severity="danger"
        icon="pi pi-times"
        (onClick)="closeDialogue()"
      />
      <ng-container *ngIf="!editProp.edit; else editBtn">
        <p-button
          label="Next"
          [disabled]="!deviceForm.valid"
          icon="pi pi-arrow-right"
          iconPos="right"
          (onClick)="fetchDevices() && nextStepper('device')"
        />
      </ng-container>
      <ng-template #editBtn>
        <p-button
          label="Edit"
          [disabled]="!deviceForm.valid"
          icon="pi pi-pencil"
          iconPos="right"
          (onClick)="saveEditedForm()"
        />
      </ng-template>
    </div>
  </ng-container>

  <ng-container *ngIf="formModule == 'device'">
    <form [formGroup]="addDeviceForm">
      <ng-container *ngIf="deviceList.length > 0; else loader">
        <div class="p-2 mt-1 flex w-full">
          <div>
            <div class="flex align-items-center gap-3 mb-3">
              <label for="device_list" class="font-semibold w-6rem flex">
                Device list
                <span style="color: red" class="ml-1">*</span>
              </label>
              <p-treeSelect
                id="device_list"
                [options]="deviceList"
                containerStyleClass="w-full"
                placeholder="Select Device Type"
                formControlName="device"
              />
            </div>
            <ng-container *ngIf="showInfo">
              <div class="flex align-items-center gap-3 mb-3">
                <label for="mac" class="font-semibold w-6rem flex">
                  Mac
                  <span style="color: red" class="ml-1">*</span>
                </label>
                <input
                  pInputText
                  id="mac"
                  class="flex-auto"
                  autocomplete="off"
                  formControlName="mac"
                />
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="showInfo">
            <p-divider layout="vertical" class="mr-2" />
            <div class="mr-2">
              <div class="flex align-items-center gap-3 mb-3">
                <label for="device_name" class="font-semibold w-6rem flex">
                  Device Name
                  <span style="color: red" class="ml-1">*</span>
                </label>
                <input
                  pInputText
                  id="device_name"
                  class="flex-auto"
                  placeholder="Enter Device Name"
                  autocomplete="off"
                  formControlName="device_name"
                />
              </div>
              <div class="flex align-items-center gap-3 mb-3">
                <label
                  for="device_manufacturer"
                  class="font-semibold w-6rem flex"
                >
                  Device Manufacturer
                </label>
                <textarea
                  id="device_manufacturer"
                  class="flex-auto"
                  rows="4"
                  cols="5"
                  placeholder="Enter Manufacture Name"
                  pInputTextarea
                  formControlName="device_manufacturer"
                >
                </textarea>
              </div>
              <div class="flex align-items-center gap-3 mb-3">
                <label
                  for="device_manufacturer"
                  class="font-semibold w-6rem flex"
                >
                  Description
                </label>
                <textarea
                  id="device_manufacturer"
                  class="flex-auto"
                  rows="4"
                  cols="30"
                  placeholder="Enter Description"
                  pInputTextarea
                  formControlName="device_description"
                >
                </textarea>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #loader>
        <div
          class="p-2 mt-1 flex w-full justify-content-center align-items-center"
        >
          <p-progressSpinner ariaLabel="loading" />
        </div>
      </ng-template>
    </form>
    <div class="flex pt-4 justify-content-between">
      <p-button
        label="Back"
        icon="pi pi-arrow-left"
        (onClick)="prevStepper('host')"
      />
      <p-button
        label="Cancel"
        severity="danger"
        icon="pi pi-times"
        (onClick)="closeDialogue()"
      />
      <p-button
        label="Next"
        icon="pi pi-arrow-right"
        [disabled]="!showInfo"
        iconPos="right"
        (onClick)="nextStepper('tags')"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="formModule == 'tags'">
    <form [formGroup]="addDeviceForm">
      <div class="p-2 mt-1 flex w-full">
        <div>
          <div class="flex align-items-center gap-3 mb-3 mt-5">
            <label for="tags" class="font-semibold w-6rem flex">
              Tags<span style="color: red" class="ml-1">*</span>
            </label>
            <p-multiSelect
              [maxSelectedLabels]="2"
              selectedItemsLabel="{} tags selected"
              [options]="objectList"
              formControlName="tagList"
              optionLabel="label"
              optionValue="data"
              dataKey="key"
              tooltipPosition="top"
              placeholder="Select Tags"
              scrollHeight="160px"
            />
          </div>
          <div class="flex align-items-center gap-3 mb-3 mt-5">
            <label for="frequency" class="font-semibold w-6rem flex">
              Frequency<span style="color: red" class="ml-1">*</span>
            </label>
            <div>
              <p-inputNumber
                mode="decimal"
                id="frequency"
                class="flex-auto"
                placeholder="Enter in seconds"
                inputId="withoutgrouping"
                [useGrouping]="false"
                [min]="40"
                formControlName="frequency"
              />
              <p class="text-xs text-primary font-light mt-1 pl-1">
                Minimum 40 seconds required
              </p>
            </div>
          </div>
        </div>
        <p-divider layout="vertical" class="mr-2" />
        <div class="flex align-items-center gap-3 mb-3">
          <p-fieldset legend="Selected tags">
            <p-scrollPanel [style]="{ width: '100%', height: '100px' }">
              <p *ngFor="let item of selectedTags">{{ item }}</p>
            </p-scrollPanel>
          </p-fieldset>
        </div>
      </div>
      <p-messages
        [(value)]="selectedTagCount"
        [enableService]="false"
        [closable]="false"
      ></p-messages>
    </form>
    <div class="flex pt-4 justify-content-between">
      <p-button
        label="Back"
        icon="pi pi-arrow-left"
        (onClick)="prevStepper('device')"
      />
      <p-button
        label="Cancel"
        severity="danger"
        icon="pi pi-times"
        (onClick)="closeDialogue()"
      />
      <p-button
        label="Add"
        icon="pi pi-plus"
        [disabled]="!addDeviceForm.valid"
        iconPos="right"
        (onClick)="addDevice()"
      />
    </div>
  </ng-container>
</p-dialog>
